.container-content-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-content-panel img {
  height: 27.625em;
  width: 73.4375em;
  object-fit: contain;
}

.container-content-panel .content-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 70%;
}

.container-content-panel .content-description p {
  text-align: justify;
  font-size: 20px;
}

.container-content-panel .buttons-content-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container-content-panel .buttons-content-panel button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  margin: 20px 0 0 20px;
  border-radius: 10px;
  border: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .container-content-panel img {
    height: 16em;
    width: 20em;
  }

  .container-content-panel .content-description {
    font-size: 16px;
  }

  .container-content-panel .content-description p {
    margin-top: 10px;
    font-size: 15px;
  }

  .container-content-panel .buttons-content-panel {
    flex-direction: row;
    justify-content: center;
  }

  .container-content-panel .buttons-content-panel button {
    margin: 30px 0 20px 20px;
  }
}

@media (min-width: 576px) and (max-width: 768.98px) {
  .container-content-panel img {
    height: 20em;
    width: 20em;
  }

  .container-content-panel .content-description {
    font-size: 16px;
  }

  .container-content-panel .content-description p {
    margin-top: 10px;
    font-size: 15px;
  }

  .container-content-panel .buttons-content-panel {
    flex-direction: row;
    justify-content: center;
  }

  .container-content-panel .buttons-content-panel button {
    margin: 30px 0 20px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-content-panel {
    min-height: 70vh;
  }

  .container-content-panel img {
    height: 20em;
    width: 35em;
  }

  .container-content-panel .content-description {
    font-size: 36px;
  }

  .container-content-panel .content-description p {
    margin-top: 10px;
    font-size: 30px;
  }

  .container-content-panel .buttons-content-panel button {
    margin: 30px 0 0 20px;
    width: 120px;
    height: 60px;
    font-size: 28px;
  }
}