* {
  box-sizing: border-box;
}

.container-about-me {
  align-items: center;
  display: flex;
  padding: 30px;
  text-align: justify;
}

.container-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 70px;
  font-size: 22px;
  line-height: 32px;
  color: #1c1c1c;
}

.container-about-me .container-text a {
  color: #1c1c1c;
}

.container-about-me .photo-perfil {
  border-radius: 50%;
  margin-bottom: 230px;
}
