* {
  box-sizing: border-box;
}

.container-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.icons {
  margin: 10px;
  height: 170px;
  width: 170px;
}
