.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 10;
}

.container {
  background-color: #fff;
  color: #000;
  height: 60%;
  width: 60%;
  border-radius: 20px;
}

.close {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  width: 32px;
  height: 32px;
  right: calc(-100% + 64px);
  top: 16px;
  position: relative;
  &:before,
  &:after {
    background-color: #000;
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
