* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.panel-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width: 575.98px) {
	section h2 {
		font-size: 2em;
	}
}