.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-contact h1,
h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}

.container-contact .form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

.container-contact .form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.container-contact .form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.container-contact .form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.container-contact .form textarea {
  min-height: 13rem;
  resize: vertical;
}

.container-contact .form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;
}

.container-contact .form button {
  display: block;
  padding: 1rem;
  background: #0072c4;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.container-contact .form button:hover,
.form button:focus {
  outline: none;
  background: #09d;
}